* {
  font-family: 'Montserrat', sans-serif;
}
.container{
  /* background: #F9C74F; */
  /* border: 2px solid #F9844A; */
  margin-bottom: 22px;
  padding: 20px 2px;
  border-radius: 3px;
  object-fit: cover;
}

.heading {
  font-weight: 600;
  color : #708bd2;
  margin-top : -20px;
  margin-bottom: -20px;
  text-shadow: 2px 2px grey;
  
}
.info-wrap {
  background-color: #708bd2;
}
.logo {
  margin-top : -30px;
  margin-left : -15px;
  width: 150px;
  filter: drop-shadow(0 0 0.75rem white);
}

/* shopping icon */
.info-wrap > .bag-btn > #shopp {
  color : #708bd2;
  /* background: white; */
}

.flex {
  display: flex;
  justify-content: space-between;
  background : #708bd2;
  height: 16vh;
}
.navBars{
  display: none;
}
.price-new {
  color: white;
  font-weight: 400;
}

.icons > .icon {
  list-style: none;
  padding : 2rem 1rem;
  font-size: x-large;
  color: #F9844A;
  transition: 1s;
  font-size: 1.2em;
} 

.logo {
  margin-top : -20px;
  margin-left : -15px;
  width: 150px;
}

/* cart */

.nav-icon{
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: -65px;
  color: white;
}
.cart-btn{
  position: absolute;
  cursor: pointer;
  top: 27px;
  right: -15px;
  font-size: 1.2em;
}
.cart-items{
  font-size: 0.7rem;
  position: absolute;
  top: 22%;
  right: 25px;
  background: #708bd2;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
}
#shopp {
  color: white;
}

/* End of cart */
/* cart panel */
.cart-overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: transparent;
  background: #708bd2;
  z-index: 2;
  visibility: hidden;
}
.cart{
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  /* width: 100%; */
  width: 30vw;
  min-width: 450px;
  height: 100%;
  color: white;
  overflow: scroll;
  z-index: 3;
  background: #708bd2;
  padding: 1.5rem;
  transition: all 0.3s linear ;
  transform: translateX(100%);
  /* opacity: .5; */
}
.showCart{
  transform: translateX(0);
}
.transparentBcg{
  visibility: visible;
}
.fa-window-close{
  color:#708bd2;
}
.cart h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid white;
  padding: 0.5rem;
}
.clear-cart{
  border: none;
  background: blue;
  color: white;
  box-shadow: 0 0 5px #708bd2;
  padding: 0.3em 1em;
}
.cart-item img{
  height: 75px;
  width: 75px;
}
.cart-item h4{
  font-size: 0.85rem;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.cart-item h5{
  margin: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
}
.item-amount{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.remove-item{
  color: #708bd2;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder ;
}
.fa-chevron-up,
.fa-chevron-down{
  cursor: pointer;
}
/* end of cart panel */
/* cart footer */

.cart-footer{
  margin-top: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.cart-footer h3{
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.cart-total{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:x-large ;
}

/* end of cart footer */

/* Bootstrap Gallery */

main h1{
  display: flex;
  justify-content: center;
  padding: 1em;
}
.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden; }
.card-product .price-new, .card-product .price {
  margin-right: 5px; }
.card-product .price-old {
  color: #999; }
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  /* height: 220px; */
  text-align: center; }
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; }
    
    .card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px; }
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .title {
  margin-top: 0; }
.card-product:hover {
transition : 2s ease-in;
}
  .row .btn-primary{

    background-color: white;
    border: #708bd2;
  }
  

/* footer */
.footer-main-div{
  width: 100%;
  height : auto; 
  margin-top: -10px;
  background :white;
  /* background : #F3722C; */
  padding : 20px 0;

}
.footer-social-icons {
  width: 100%;
  height: auto;
  margin : auto;

} 
.footer-social-icons ul{
  
  margin : 0px;
  padding : 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin : 0px 10px;
  border-radius: 100%;
  background: #708bd2;
  
}
/* .footer-social-icons:hover {
    color: brown;
} */
.footer-social-icons ul li a{
  color : white;
  font-size: 25px;

}
.footer-social-icons ul li a i{
  line-height: 50px;
}
  .price{
    
    color:#708bd2;
    padding: 5px 0;
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
      top:10px;
  }

   
    .product figure{
      width: 200px;
      height: 300px;
      display: flex;
      flex-direction:column;
      justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    border: 1px dotted rgb(0, 64, 75);
    padding-bottom: 20px;
    color: rgb(226, 236, 226);
    margin: 10px;
    font-weight: 100;
    }
    .product img{ 
      position: relative;
      top: 10%;
      height:70% ;
      width: 100%;}
    #shop{
      display: flex;
      
      justify-content: center;
      color: black;
     
      background-repeat: no-repeat;
      flex-wrap: wrap;
      padding: 0;
      margin: 15%;
      width: fit-content;
    }
  #shop figcaption{
    position: relative;
    top: 8%;
      color: black;
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
    font-family: monospace; }
    
    #shop p{
    margin:0;
    
    }
    
    /* for increasing and decreasing shopping amount */
    div.buy {
      display: flex;
      justify-content: center;
      margin: 0;
      height: 20px;
      z-index: 1;
      border: none;
      text-align: center;
      border-radius: 0px;
    }
    
    .buy  input{ color: white;
    font-family: fantasy;
    border: none;
  }
  
    .buy button {
      display: flex;
      width: 60px; 
      top: 10%;
      text-align: center;
      justify-content: center;
      border: none;
      background-color: #F9844A;;
      font-size: 1em;
      height: 23px;
      padding: 0px;
      border-color: black;
      background-color: rgb(3, 250, 188);
      outline: none;
      position: relative;
      top:15px;
      
    }
    
    .buy button:hover {
      cursor: pointer;
      color: rgb(9, 250, 250);
      background-color: black;
      
    }
    
    #decre {
      margin-right: 0px;
      margin-top: -3%;
      
      border: none;
      
    }
    
    #incre {
      margin-left: 0px;
      margin-top: 10%;
      border: none;
      
    }
    
   
  
  span{
    color: #12122c;
  
    font-size: medium;
    font-family: fantasy;
  }


/* Media Queries */
    @media only screen and (max-width: 768px) {
      .logo{
        /* display: block; */
        width: 150px;
        position: absolute;
        left: 40%;
        margin-top: -120px;
      }
      .tagline{
        display: block;
      }
      #tagline{
        position: relative;
        left: -50px;
        /* margin-left: -30px; */
        font-size: medium;
      }
      .flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 180px;
        position: relative;
      }
      .icons {
        position: absolute;
        left: 0;
        top: 100px;
        /* margin-top: 125px; */
        z-index: 1;
        /* margin-right: auto; */
        /* font-size: 30px; */
        /* margin-left: -200px; */
    }
    .icons .icon a{
      font-size: 20px;
    }
      .cart{
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        /* width: 30vw; */
        min-width: 300px;
        height: 100%;
        color: white;
        overflow: scroll;
        z-index: 3;
        background: #ffc107;
        padding: 1.5rem;
        transition: all 0.3s linear ;
        transform: translateX(100%);
      }
      .cart-btn 
      .showCart{
        transform: translateX(0);
      }
      .transparentBcg{
        visibility: visible;
      }
      .cart-btn{
        z-index: 1;
        /* margin-left: auto;
        margin-right: auto;
        margin-top: -15px; */
        right: 0;
        position: absolute;
        top: 130px;
      }

        /* .tagline {
            font-size: medium;
        } */
        strong {
            font-size : 1.5rem;
        }
        .icons > .icon  {
          /* padding : 1rem; */
          font-size:medium;
          
      }
    
      }