* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.container2 .input {
  border: 0.5px solid rgb(189, 189, 189);
  outline: none;
  color: #333;
  /* text-transform: uppercase; */
  /* font-size: 2px; */
}

/* .search_wrap{
	width: 500px;
	margin: 38px auto;
} */

.search_wrap .search_box {
  position: relative;
  width: 400px;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #7690da;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background: #708bd2;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .input {
  padding-right: 80px;
}

/* .search_wrap.search_wrap_1 .search_box .input{
    border-radius: 50px; 
} */
/* .search_wrap.search_wrap_1 .search_box .btn{
	right: 0px;
	border-radius: 50%;
} */

/* sign in */

/* .account{
    position: absolute;
  } */
.account a {
  font-size: 50px;
  color: #708bd2;
  margin-left: -9px;

  position: relative;
  top: -15px;
  left: -1.5em;
  z-index: 4;
}

.account a:hover {
  color: #708bd2;
}

a {
  text-decoration: none;
}

.account-sub-menu {
  display: none;
}

.account-sub-menu ul li {
  list-style-type: none;
}

.account-sub-menu ul li a {
  color: whitesmoke;
}

/* .account-sub-menu ul li .fa-atom, .fa-book-reader{
    margin-right: 8px;
  } */
.container2 {
  margin-right: -10em;
}

/*  */
.container1 {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

/* logo */
.logo {
  margin-top: -30px;
}

/* navbar */
.menu-area {
  position: relative;
  top: -30px;
  z-index: 5;
}

.menu-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background: #708bd2;
  font-weight: bold;
  height: 8vh;
  text-decoration: none;
  text-transform: uppercase;

}

.menu-area a:hover {
  background: white;
  color: #708bd2;

}

.menu-area ul {
  list-style: none;
  display: flex;


}

.menu-area ul li {
  position: relative;
  width: 100%;
  text-align: center;
}

.menu-area li:hover .dropDown li {
  top: 0;
  display: block;
  position: relative;
  z-index: 6;
}

.dropDown li {
  display: none;
  position: relative;

}

.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropDown ul li:hover {
  display: block;
}

/* tagline */

.tagline {
  text-transform: uppercase;
  color: #708bd2;

  text-align: center;
}

#tagline {
  padding: 20px;
  font-size: 2em;
  font-weight: 700;
}

/* review area */
.team-area>.aaa {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: grey 1px 1px 1px;
}

.team-area {
  /* list-style: none;
  text-decoration: none; */
  padding: 70px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  font-size: 15px;

}

.single-img {
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 525px;
  height: 350px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: translate(0, 0);
  transition: .3s;
  margin-top: -80px
}

.single-img:hover {
  transform: translate(0, -1px);

}

.img-one {
  background-image: url('assets/review\ \(1\).png');
  background-size: cover;
  background-position: center;
}

.img-two {
  background-image: url('assets/review\ \(2\).png');
  background-size: cover;
  background-position: center;
}

.img-text {
  background: #708bd2;
  opacity: .9;
  padding: 0 10px 5px 10px;
  width: 100%;
  height: auto;
  position: relative;
  /* transform: translate(0, 110px); */
  line-height: 20px;
  /* transition: 1s ease-in-out;
  display: inline-block; */

}

.img-text p i {
  padding-right: 5px;

}

.img-text h4 {
  line-height: 10px;
  padding: 0;
  margin: 26px 0;
  font-family: big john;
}

/* .single-img:hover .img-text{
  transform: translate(0,0);
  /* transition: 1 ease-in-out; */


#stars {
  color: yellow;
}

.heading {
  color: black;
  text-shadow: ivory 1px 1px 1px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

/* product card */
.product {
  padding: 2px 0;
}

.card-img {

  position: relative;
  right: -300px;
  z-index: 10;

}

.card-info {
  position: relative;
  right: 100px;
  z-index: 11;
  border-radius: 6px sold red;
}

.title {
  font-style: inherit;
  font-weight: 600;
}

.author {
  color: grey;
}

.btn-1 {
  border: none;
  color: white;
  background-color: #708bd2;
  padding: 10px;
  font-weight: 500;
}

.btn-1:hover {
  color: #708bd2;
  background-color: white;
  border: 2px solid #708bd2;
  font-weight: 700;
}

/* adding new css */

.staffReading {
  margin-top: -20px;
}

.staffReading-1 {
  display: none;
}

.c-item-u {
  padding: 0% 10%;
}

.carousel-item .d-md-block .card-body {
  background: #7690da;
}

.carousel-item .d-md-block .card-body a {
  color: white;
}

.slider img {
  padding: 15%;
  width: 500px;
  display: flex;
  justify-content: center;
}

.slider a {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.slider a:hover {
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.1);
  color: #F3722C;
}

.quoteSlider {
  background-image: linear-gradient(to bottom right, #7690da, #0c3ab8);
  color: white;
  /* margin-top: -150px; */
  margin-bottom: 10px;
  height: 300px;
}

/* .quoteSlider .carousel-item p{
  font-size: 1em;
} */
.quoteSlider .carousel-inner {
  padding: 10%;
  justify-self: center;
  margin: auto;
  /* font-style: italic; */
}

.footer-main-div {
  background: #7690da;
  height: 300px;
  color: white;
}

.footer-main-div .books-sec-heading {
  font-size: 30px;
  margin-top: -50px;
}

.footer-main-div .books-categories {
  padding: 1.5% 5%;
  display: flex;
  flex-direction: column;
}

.footer-main-div .footer-section {
  display: flex;
  position: relative;
  top: 15%;
}

.footer-section a:hover {
  text-decoration: none;
}

.footer-main-div .books-categories .books-types {
  margin-top: 5px;
}

.footer-main-div .books-categories .books-categories-footer {
  list-style-type: none;
}

.footer-main-div .books-categories .books-categories-footer li {
  margin-bottom: 5px;
}

.footer-main-div .books-categories .books-categories-footer a {
  color: white;
}

/* Contact us section */
.contactUsSect {
  width: fit-content;
  position: absolute;
  right: 5%;
  top: -15%;
  /* border: 2px solid #0c3ab8; */
  border-radius: 5px;
  padding: 10px;
  /* margin: 10px 0px; */
}

.contactUsSection {
  display: flex;
  margin-bottom: 10px;
}

.contactUsSection input,
.contactUsSection textarea {
  width: 300px;
  border-radius: 5px;
  border: 2px solid #0c3ab8;
  padding: 5px;
}

.contactUsSect .button {
  width: 100px;
  height: 3em;
  border-radius: 5px;
  border: none;
  background: #0c3ab8;
  color: white;

}

/* social media icons */
.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 100%;
}

.footer-social-icons .flex-1 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border-radius: 5px;
  /* padding: 1em 2em; */
}

.footer-social-icons .flex-1 i {
  font-size: 2em;
  color: white;
  margin-left: 2rem;
}

.footer-social-icons .flex-1 .fa-facebook {
  margin-left: 0em;
}

@media screen and (max-width: 710px) {
  .card-img {

    position: relative;
    right: -160px;
    z-index: 10;

  }

  .card-info {
    position: relative;
    right: -90px;
    z-index: 11;
  }

  .para {
    margin-left: -50px;
    padding: 20px 10px;
  }

  .search_wrap .search_box {
    visibility: hidden;
  }

  .logo {
    margin-top: -40px;
  }

  .account {
    margin-right: 100px;
    margin-top: -5px;
  }
}

/* added new css */

@media only screen and (min-width: 768px) {


  .categories .icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .staffReading {
    display: none;
  }

  .staffReading-1 {
    display: initial;
    padding: 5%;
  }

  .staffReading-1 a {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: rgb(44, 44, 44);
  }

  .staffReading-1 .card-body a:hover {
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
  }

  .quoteSlider p {
    font-size: 1.5em;
  }

  .Introduction-section .textBox h1 {
    font-size: 5em;
  }

  .Introduction-section .textBox p {
    font-size: 2.5em;
  }

  .footer-main-div {
    margin-top: -50px;
  }
}


@media only screen and (max-width: 480px) {
  strong {
    font-size: 1.5rem;
  }

  .cart {
    margin-top: -50px;
    height: 10px;
  }

  .logo {
    display: block;
    width: 150px;
  }

  #tagline {
    margin: 0;
    margin-left: -100px;
    font-size: medium;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    margin-left: -50px;
  }

  .team-area {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .categories .icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .staffReading {
    display: none;
  }

  .staffReading-1 {
    display: initial;
    padding: 5%;
  }

  .staffReading-1 a {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: rgb(44, 44, 44);
  }

  .staffReading-1 .card-body a:hover {
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
  }

  .quoteSlider p {
    font-size: 1.5em;
  }

  .Introduction-section .textBox h1 {
    font-size: 5em;
  }

  .Introduction-section .textBox p {
    font-size: 2.5em;
  }

  .footer-main-div {
    margin-top: -50px;
  }

  .checkbtn {
    display: block;
    padding: 5px;
    font-size: 20px;
    /* margin-top: -30px; */
    z-index: 5;
  }

  /* nav ul{
      position: fixed;
      width: fit-content;
      height: fit-content;
      /* height: 55vh; */
  /* background: #e69b06; */
  /* top: 75px;
      right: -200%;
      text-align: center;
      transition: all .5s; */
  /* z-index: -1; */
  /* } */

  /* .navbar-expand{
      z-index:-5;
    } */
  nav>ul {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-right: 0;
    padding: 0;
    left: 50px;
    top: 40px;
    /* right: -200%; */
    /* height: 55vh; */
    /* background: #e69b06; */
    text-align: center;
    transition: all .5s;
    /* z-index: -1; */
  }

  nav>ul li {
    display: none;
    /* margin: 240px 0; */
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  nav>ul li a {
    font-size: 10.5px;
    font-weight: bolder;
  }

  nav>ul li a:hover,
  .nav>ul li a:active {
    background: none;
    color: #F3722C;
  }

  #check:checked~ul li {
    display: block;
    left: 0;
  }

  .categoriesNav:hover .sub-menu {
    top: 30px;
  }

  .footer-main-div .footer-section .books-categories {
    width: 100%;
    align-items: center;
  }

  .books-types .books-categories-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-main-div {
    height: 600px;
    margin-top: 20px;
  }

  .contactUsSect {
    top: 140%;
    flex-direction: column;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0c3ab8;
  }

  .contactUsForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .contactUsSection input,
  .contactUsSection textarea {
    width: 250px;
    border-radius: 5px;
    border: 2px solid #0c3ab8;
    padding: 5px;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  strong {
    font-size: 1.5rem;
  }

  .cart {
    margin-top: -50px;
    height: 10px;
  }

  .logo {
    display: block;
    width: 150px;
    margin-left: 15px;
  }

  #tagline {
    margin: 0;
    margin-left: -50px;
    font-size: medium;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons>.icon {
    padding: 1rem;
    font-size: medium;

  }

  /* #tagline {
      font-size: .9rem;
      padding-left: 25px;
     
} */
  .logo {
    height: 70px;
    margin-top: -5px;
    padding-left: 20px;
  }

  /* .team-area {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
} */
  #check {
    z-index: 5;
  }

  .checkbtn {
    display: block;
  }

  nav>ul {
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-right: 0;
    padding: 0;
    top: 35px;
    left: 50px;
    /* right: -70%; */
    /* height: 55vh; */
    /* background: #e69b06; */
    text-align: center;
    transition: all .5s;
    /* z-index: -1; */
  }

  nav>ul li {
    display: none;
    /* margin: 240px 0; */
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  nav>ul li a {
    font-size: 18px;
    font-weight: bold;
  }

  nav>ul li a:hover,
  .nav>ul li a:active {
    background: none;
    color: #F3722C;
  }

  #check:checked~ul li {
    right: 0;
    left: 0;
    display: block;
  }

  .categoriesNav:hover .sub-menu {
    top: 30px;
    width: 200px;
  }

  .footer-main-div .footer-section .books-categories {
    width: 100%;
    align-items: center;
  }

  .books-types .books-categories-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-main-div {
    height: 600px;
    margin-top: -20px;
  }

  .contactUsSect {
    top: 140%;
    flex-direction: column;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0c3ab8;
  }

  .contactUsForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
}